
      <div class="bg-img">

	<div class='light x1'></div>
	<div class='light x2'></div>
	<div class='light x3'></div>
	<div class='light x4'></div>
	<div class='light x5'></div>
	<div class='light x6'></div>
	<div class='light x7'></div>
	<div class='light x8'></div>
	<div class='light x9'></div>
         <div class="content">



<div>
    <header>Registration</header>
    <form [formGroup]= "registrationForm">
        
        <div class="field">
            <label class="form-lable" ></label>
            <input type="text" id="username" class="form-control" formControlName="username" placeholder="Username">
        </div>
        <div class="field space">
            <label class="form-lable"></label>
            <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <div class="field space">
            <label class="form-lable"></label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName" placeholder="First Name">
        </div>
        <div class="field space">
            <label class="form-lable"></label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName" placeholder="Last Name">
        </div>
        <div class="field space">
            <label class="form-lable"></label>
            <input type="text" id="email" class="form-control" formControlName="email" placeholder="E-mail">
        </div>

        <div class="field space">
        <input type="submit" value="SUBMIT" id="registerUser" (click)="submitUser(registrationForm)">
            </div>
          
             <div class="pass">
                <a routerLink="/login">Go Back?</a>
             </div>
             

           <!--- <a routerLink="/login">login</a>-->
    </form>



</div>


</div>







