<carousel class="movie-slider-container">
    <slide *ngFor="let movie of movies">
      <img src="{{ movie.backdrop }}" alt="{{ movie.title }}">
      <div class="carousel-caption d-none d-md-block">
        <h3><a routerLink="/movie/{{ movie.id }}">{{ movie.title }}</a></h3>
      </div>
    </slide>
  </carousel>
  