


      <div class="bg-img">
         <div class="content">

			<div class="content">
				<i class="fa fa-shopping-cart" style="font-size:25px"></i>
				<header>Reservation Information</header>
				
			  <div class="container">
				  <div class="row mb-3">
					<span class="show"></span>
			  
					  <label for="movietitle" class="col-sm-2 col-form-label">Movie Name:</label>
					  <div class="col-sm-10">
						<input type="movietitle" class="form-control" id="movietitle" [value]="movieTitle" disabled>
					  </div>
				  </div>
				  <div class="row mb-3">
					  <label for="movietime" class="col-sm-2 col-form-label">Movie Time:</label>
					  <div class="col-sm-10">
						<input type="text" class="form-control" id="movietime" [value]="movieTime" disabled>
					  </div>
				  </div>
				  <div class="row mb-3">
					  <label for="seats" class="col-sm-2 col-form-label">Seats:</label>
					  <div class="col-sm-10">
						<input type="text" class="form-control" id="seats" [value]="seats" disabled>
					  </div>
				  </div>
				  <div class="row mb-3">
					  <button class="featured-button2" (click)="gotoHome()">Go To Home</button>

				  </div>
			
	</div>		

</div>
		 </div>

</div>
