@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  margin: 0;
  height: 100vh;
  font-weight: 100;
  background: radial-gradient(#a23982,#fdf6f8);
  overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
}
.bg-img{
  background:linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('https://cdn.mos.cms.futurecdn.net/z3x9ZUHHx5EVtRkkEsnpYB-1200-80.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}





body {
  font-size: 12px;
  font-family: sans-serif;
  background: #0c0c0e;
}
.content header{
  color: rgb(248, 242, 242);
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}
.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(34, 29, 29, 0.94);
}
.field span{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(7, 5, 5);
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.space{
  margin-top: 16px;
}
.show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: rgb(243, 239, 239);
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: rgb(245, 241, 243);
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
}
.pass:hover a{
  text-decoration: underline;
}
.field input[type="submit"]{
  background: #272020ee;
  border: 1px solid #0f0f0f;
  color: rgb(245, 241, 241);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.field input[type="submit"]:hover{
  background: #f32121;
}
.login{
  color: rgb(34, 28, 28);
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
}

.login:hover{
  background: #e4e2e3;

}

.content{
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 999;
  text-align: center;
  font-family: 'Fantasy', Times, serif;
  font-weight: 800;
  padding: 80px 32px;
  width: 400px;
  transform: translate(-50%,-50%);
  background: rgba(19, 12, 12, 0.747);
  color:#f1eef0;
  font-size: 14px;
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.featured-button2 {
  text-align: center;
  background-color: transparent;
  color: white;
  padding: 12px-24px;
  margin-top: 50px;
  margin-bottom: 1px;
  border-radius: 8px;
  margin-left: 65px;
  margin-right: 15px;
  border-width: 2px;
  border:2px solid #fff;
  outline: none;
  letter-spacing: -.04em;
 font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    bottom: 20px;
      width: 70%;
      display:inline-block;
      cursor: pointer;

      
}

.featured-button2:hover{
color:#fdf9ff;
background: transparent;
transform: scale(1.1);

}