<div class="bg-img">
<div class="content">
	
<header>{{boxtitleValue}}</header>
<form [formGroup]="userForm">

	<label *ngIf="userNotFound" id="userNotFound" style="color:red" class="form-label">{{errorMessage}}</label>
	<div class="field">
	<input [type]="usernametype" id="username" class="form-control" formControlName="username" [placeholder]="usernamePvalue">
	<a *ngIf ="eyeForUsername" (click)="toggleUsername()"><i class="fas fa-eye" style="font-size: 30px"></i></a>
	</div>

	<div class="field space">
	<input [type]="passwordtype" id="password" class="form-control" formControlName="password" [placeholder]="passwordPvalue">
	<a *ngIf ="eyeForPassword" (click)="togglePassword()"><i class="fas fa-eye" style="font-size: 30px"></i></a>
	<span class="show">SHOW</span>

</div>
<div class="field space">
	<input type="submit" [value]="loginBtnValue" id="loginButton" (click)="decideFunction(userForm)">
	

 </div>
<div class="pass">
	<a (click)="forgetPassword(userForm)">Forgot Password?</a>
 </div>

 <div class="pass">
	<a routerLink="/registration">Register A New Account?</a>
 </div>


	<button class="featured-button2" (click)="guestLogin(userForm)">Guest</button>
	<!--<input type="submit" [value]="loginBtnValue" id="loginButton" (click)="decideFunction(userForm)">-->





</form> 


</div>


	<div class='light x1'></div>
	<div class='light x2'></div>
	<div class='light x3'></div>
	<div class='light x4'></div>
	<div class='light x5'></div>
	<div class='light x6'></div>
	<div class='light x7'></div>
	<div class='light x8'></div>
	<div class='light x9'></div>
	

</div>

