<div class="nav-container">
<div class="nav" >
<nav  *ngIf="showNav">
    <a routerLink="/userhome">Home</a>
    <a *ngIf="showProfile" routerLink="/profile">Profile</a>
    <a routerLink="/movieinfo">Movies</a>
    <a routerLink="/login">Signout</a>
</nav>
</div>
</div>
