@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.seatAvailable {
  background-color: transparent;
color:white;
  border: 2px solid rgb(243, 240, 240);
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  font-size:13px;
  height: 40px; 
  width: 60px; 
  outline:0;
  margin:10px;
  margin-left: 0px;
  margin-right: 0px;
   
  }
  
  .seatSelected {
    background-color: transparent;
    color:aliceblue;
    border:2px solid rgb(230, 47, 15);
    border-bottom-right-radius :10px;
    border-bottom-left-radius:10px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size:13px;
    height: 40px; 
    width: 60px; 
    outline: 0;
    margin:10px;
    margin-left: 0px;
    margin-right: 0px;
  }
  

  .seatOccupied {
    background-color:rgba(57, 51, 73, 0.589);
    color: rgb(10, 13, 15);
    border:2px solid rgb(56, 52, 52);
    border: bottom right radius 10px;
    border-bottom-left-radius:10px;
    display:flex;
    align-items: center;
    display:display-inside;
    justify-content: space-around;
    font-size:13px;
    height: 40px; 
    width: 60px; 
    outline:0;
    margin:10px;
    margin-left: 0px;
    margin-right: 0px; 
  }

  .featured-button2 {
    text-align: center;
    background-color: #4cbf0071;
    color: white;
    padding: 16px 50px;
    margin-top: 0px;
    margin-bottom: 21px;
    border: none;
    outline: none;
   font-weight: bold;
      border-radius: 100px;
      font-size: 18px;
      font-weight: 900;
      bottom: 20px;
      border-bottom-left-radius: 50px;
      transition: 1s all ease-in-out;
        position: -webkit-sticky;

}
  #seat:nth-of-type(2) {
    margin-right: 18px;
  
  }
  
  #seat:nth-last-of-type(2) {
    margin-left: 18px;
  }
  
  #seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }


.col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: transparent;

}

