
<body>
 
    
  <h1 class="movie-list-title">ALSO SHOWING</h1>
  
  
  <div class="content-container">
   <div class="featured-content"
    style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515), url('https://i0.wp.com/screen-connections.com/wp-content/uploads/2021/10/Lightyear-Teaser.Trailer.Image-01.jpg');">
    <img class="featured-title" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwMsIPaybgRuJgscf3wWzTfK_KDuJK5u4JJt5MN5OMH_wmuutf" >
    <div class="featured-title">Lightyear</div>
  
    <p class="featured-desc">The story of Buzz Lightyear and his adventures to infinity and beyond.</p>
  <!--  <button class="featured-button2" [routerLink]="['/ticketn-seat']">BUY TICKETS</button>-->
  
  </div> 
  
  
          
  <div class="content-container">
    <h1 class="movie-list-title">ALL MOVIES</h1>
    </div>
  
    <div class="movie-list-container">
       
        <div class="movie-list-wrapper">
            <div class="movie-list">
                <div class="movie-list-item">
                    <img class="movie-list-item-img" src="/assets/img_movie/batman.jpg" alt="">
                    <div class="content-container2">
                        <span class="content-container2">The Batman</span>
                        <iframe class="video" width="560" height="300"  src="https://www.youtube.com/embed/mqqft2x_Aa4?start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      
                    <div class="content-container3">
                        <span class="content-container3">2 HR 55 MIN | PG13</span>
                       </div>
                    <div class="content-container2">
                        <button class="featured-button3" >RESERVE</button>
                        <a href="/tickets/home"></a>
  
                    </div>
                    <span class="movie-list-item-title">The Batman</span>
  
                </div>
                <div class="movie-list-item">
                    <img class="movie-list-item-img" src="/assets/img_movie/jurrasic.jpg" style="width:300px;height:400px; ">
                    <div class="content-container2">
                        <span class="movie-list-item-title2">Jurrasic World: Dominion</span>
                        <iframe class="video2" width="550" height="400" src="https://www.youtube.com/embed/fb5ELWi-ekk?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="content-container3">
                            <span class="content-container3">2 HR 08 MIN | PG13</span>
                            </div>
                            <div class="content-container2">
                        <button class="featured-button3" >RESERVE</button>
                    </div>
                    <!--<p class="movie-list-item-desc">Once a familiar threat returns to finish what was previously started, Jake must work with Neytiri and the army of the Na'vi race to protect their planet.</p>-->
                   <!-- <button class="movie-list-item-button" [routerLink]="['/ticketn-seat']"  >BUY TICKETS</button>-->
                </div>
                <div class="movie-list-item">
                    <img class="movie-list-item-img" src="/assets/img_movie/lostcity.jpg" style="width:300px;height:400px ">
                    <div class="content-container2">
                        <span class="movie-list-item-title2">The Lost City</span>
                        <iframe class="video3" width="550" height="400" src="https://www.youtube.com/embed/nfKO9rYDmE8?start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    <div class="content-container3">
                        <span class="content-container3">2 HR 0 MIN | PG13</span>
                        </div>
                        <div class="content-container2">
                    <button class="featured-button3" >RESERVE</button>
                </div>
                    <span class="movie-list-item-title">The Lost City</span>
                    <!--<p class="movie-list-item-desc">A sensitive and soulful man earns a living by writing personal letters for other people. </p>-->
                    <!--<button class="movie-list-item-button" [routerLink]="['/ticketn-seat']"  >BUY TICKETS</button>-->
                </div>
                <div class="movie-list-item">
                    <img class="movie-list-item-img" src="/assets/img_movie/badguys.jpg" style="width:300px;height:400px">
                    <div class="content-container2">
                        <span class="movie-list-item-title2">The Bad Guys</span>
                        <iframe class="video4" width="550" height="400" src="https://www.youtube.com/embed/m8Xt0yXaDPU?start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    <div class="content-container3">
                        <span class="content-container3">1 HR 30 MIN | PG</span>
                        </div>
                        <div class="content-container2">
                    <button class="featured-button3" >RESERVE</button>
                </div>
                    <span class="movie-list-item-title">The Bad Guys</span>
                    <!--<p class="movie-list-item-desc">Ace detective Harry Goodman goes mysteriously missing, prompting his 21-year-old son, Tim, to find out what happened. Aiding in the investigation is Harry's former Pokémon partner, wise-cracking, adorable super-sleuth Detective Pikachu.</p>-->
                   <!-- <button class="movie-list-item-button" [routerLink]="['/ticketn-seat']"  >BUY TICKETS</button>-->
                </div>
                <div class="movie-list-item">
                  <img class="movie-list-item-img" src="/assets/img_movie/sonic.jpg" style="width:300px;height:400px ">
                  <div class="content-container2">
                      <span class="movie-list-item-title2">Sonic</span>
                      <iframe class="video2" width="550" height="400" src="https://www.youtube.com/embed/szby7ZHLnkA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      <div class="content-container3">
                          <span class="content-container3">2 HR 08 MIN | PG13</span>
                          </div>
                          <div class="content-container2">
                      <button class="featured-button3" >RESERVE</button>
                  </div>
                 
    
                    <div class="movie-list-container">
                      <div class="movie-list-wrapper">
                         <div class="movie-list">
                             <div class="movie-list-item">
                                 <img class="movie-list-item-img" src="/assets/img_movie/img_1.png" style="width:300px;height:400px">
                                 <!--<span class="movie-list-item-title">{{movieList[0].title}}</span>-->
                                 <!--<p class="movie-list-item-desc">{{movieList[0].description}}</p>-->
                             <div class="content-container2">
                                 <span class="content-container2">Iron Man</span>
                                 <iframe class="video2" width="550" height="400" src="https://www.youtube.com/embed/KAE5ymVLmZg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                 </div>
                               
                             <div class="content-container3">
                                 <span class="content-container3">1 HR 55 MIN | PG13</span>
                                </div>
                             <div class="content-container2">
                                 <button class="featured-button3" >BUY TICKETS</button>
                             </div>
                            </div>
                            <div class="movie-list-item">
  
  
                                 
                              <div class="movie-list-item">
                 
                  
                                <img class="movie-list-item-img" src="/assets/img_movie/img_2.png" style="width:300px;height:400px">
                                <!--<span class="movie-list-item-title">{{movieList[1].title}}</span>-->
                                <!--<p class="movie-list-item-desc">{{movieList[1].description}}</p>-->
        
                             <div class="content-container2">
                                <span class="content-container2">Iron Man 2</span>
                                <iframe class="video2" width="550" height="400" src="https://www.youtube.com/embed/wKtcmiifycU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            <div class="content-container3">
                                    <span class="content-container3">1 HR 55 MIN | PG13</span>
            
                                </div>
                            <div class="content-container2">
                                <button class="featured-button3" >BUY TICKETS</button>
                                    </div>
                            </div>
           
                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="/assets/img_movie/img_3.png" style="width:300px;height:400px">
                                <!--<span class="movie-list-item-title">{{movieList[2].title}}</span>-->
                               <!-- <p class="movie-list-item-desc">{{movieList[2].description}}</p>-->
        
                                <div class="content-container2">
                                <span class="movie-list-item-title2">Avengers: Endgame</span>
                                <iframe class="video2" width="550" height="400" src="https://www.youtube.com/embed/TcMBFSGVi1c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="content-container3">
                                    <span class="content-container3">1 HR 55 MIN | PG13</span>
                                    </div>
                                    <div class="content-container2">
                                <button class="featured-button3" >BUY TICKETS</button>
                            </div>
                          </div>
  
                          <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/assets/img_movie/aquaman.jpg" style="width:300px;height:400px">
                            <div class="content-container2">
                             <span class="movie-list-item-title2">Aquaman</span>
                             <iframe class="video2" width="550" height="400" src="https://www.youtube.com/embed/WDkg3h8PCVU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             </div>
                             <div class="content-container3">
                                <span class="content-container3">1 HR 55 MIN | PG13</span>
                             </div>
                             <div class="content-container2">
                            <button class="featured-button3" >BUY TICKETS</button>
                        </div>
                        </div>
                       
  
  
  
  
  
             
            </div>
        </div>
    </div>
  

