
::-webkit-scrollbar {
  display: none;
}

nav {
  margin: 27px auto 0;

  position: relative;
  width: 590px;
  height: 50px;
  background-color: #1115188c;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 160px;
}
a:nth-child(5) {
  width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #1abc9c10;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
  background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 120px;
  left: 470px;
  background-color: #e67e22;
}

.movie-list-title{
  padding: 0px;
  text-align: left;
  color: rgba(255, 255, 255, 0.678);
  font-size:calc(1.375rem + 1.5vw);
  margin-top: 20px;
    margin-bottom: auto;
    font-weight: 900;
    line-height: 1,2;


}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;

}
body{
  font-size: 12px;
  font-family: sans-serif;
  background: #000000;
}


.featured-content {
  height: 80vh;
  padding: 40px;
  background: no-repeat;
}

.featured-title {
    
  width: 300px;
}
.featured-desc {
  width: 1000px;
  color: lightgray;
  margin: 30px 0;
  font-size: 20px
}


.content-container {
  margin-left: 10px;
}
.content-container2{
  margin: 0 0 25px -0.05em;
  text-align: center;
  transform: scale(.9);
  opacity: 1;
  transition: .4s;
  margin-top: 21px;
  margin-bottom: 21px;
  line-height: .25em;
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  font-weight:900;
  transition: all .25s ease-in-out;
  letter-spacing: -.03em;
}
.content-container3{
  margin: 0 0 25px -0.05em;
  text-align: center;
  transform: scale(.9);
  opacity: 1;
  transition: .4s;
  margin-top: 21px;
  margin-bottom: 1px;
  line-height: .25em;
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  font-weight:900;
  transition: all .25s ease-in-out;
  letter-spacing: -.03em;

}


.featured-button3 {
  text-align: center;
  background-color: #669eb1b0;
  color: white;
  padding: 15px;
  margin-top: 16px 50px;
  margin-bottom: 21px;
  border: none;
  outline: none;
 font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    bottom: 20px;
    border-bottom-left-radius: 5px;
    transition: 1s all ease-in-out;
      position: -webkit-sticky;
}

.video {
  position: absolute;
  bottom: 10px
}
.video2 {
  position: absolute;
  left: 55%;
  bottom: 60px
  
}

.video3 {
position: absolute;
bottom: 80px;


}

.video4 {
position: absolute; 
bottom: 70px;

}
