
  .h1 {
  font-family: Montserrat;
    }
      .row{
       display: flex;
       border-width:2px; 
       padding: 9px 0 10px;
       width: 100%; 
       position: relative;
      }


  .featured-button2 {
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 12px-24px;
    margin-top: 0px;
    margin-bottom: 11px;
    border-radius: 38px;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 2px;
    border:2px solid #fff;
    outline: none;
    letter-spacing: -.04em;
   font-weight: bold;
      border-radius: 100px;
      font-size: 18px;
      font-weight: 600;
      bottom: 20px;
        width: 30%;
        display:inline-block;

}
.featured-button2:hover{
  color:#fdf9ff;
  background: transparent;
  transform: scale(1.1);

}

.showSelected {
  background-color: transparent;
  color:aliceblue;
  border:2px solid rgb(230, 47, 15);
  border-bottom-right-radius :10px;
  border-bottom-left-radius:10px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  font-size:13px;
  height: 40px; 
  width: 60px; 
  outline: 0;
  margin:10px;
  margin-left: 0px;
  margin-right: 0px;
}