
  <!--Generate Show Time Container-->

  <div class="rowContainer">
    <div class="row">
      <ng-container *ngFor="let show of showList">
        

        <button class="featured-button2" [id]="show.showId" (click)="addNewItem(show)">{{show.startTime}}</button>


        <ng-container>
        <!-- <app-seat [aSeat]="seat" (seatClicked)="seatCount($event)"></app-seat> -->
  
