
<body>
    <!-- <nav>
		
        <a routerLink="/userhome">Home</a>
		<a routerLink="/profile">Profile</a>
		<a routerLink="/movieinfo">Movies</a>
		<a routerLink="/register">Register</a>
		<a routerLink="/login">Signout</a>
		<div class="animation start-home"></div>
	  </nav> -->


<body>
<div class="containerz">  

    <div class="content-container">
        <div class="featured-content"
        
         style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('https://m.media-amazon.com/images/M/MV5BMTQzYWYwYjctY2JhZS00NTYzLTllM2UtZWY5ZTk0NmYwYzIyXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_.jpg');">
        <!-- <img class="featured-title" src="https://m.media-amazon.com/images/M/MV5BNzVhMjcxYjYtOTVhOS00MzQ1LWFiNTAtZmY2ZmJjNjIxMjllXkEyXkFqcGdeQXVyNTc5OTMwOTQ@._V1_SX300.jpg" alt="">-->

       <!--  <p class="featured-desc">An action-packed story of one young woman's journey to discover the truth of who she is and her fight to change the world.</p>-->
       <!--  <button class="featured-button2" [routerLink]="['/ticketn-seat']">BUY TICKETS</button>-->
    

  

</div>
       <div class="content-container">
        <h1 class="movie-list-title">NOW SHOWING</h1>
        </div>
        <div class="movie-list-container">
             <div class="movie-list-wrapper">
                <div class="movie-list">
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="/assets/img_movie/spider.jpg" alt="Dragon Movie">
                        <!--<span class="movie-list-item-title">{{movieList[0].title}}</span>-->
                        <!--<p class="movie-list-item-desc">{{movieList[0].description}}</p>-->
                    <div class="content-container2">
                        <span class="content-container2">Spider-Man: No Way Home</span>
                        </div>
                      
                    <div class="content-container3">
                        <span class="content-container3">2 HR 30 MIN | PG13</span>
                       </div>
                    <div class="content-container2">
                        <button class="featured-button2" [routerLink]="['/ticketn-seat',movieList[0].movieId]" >GET TICKETS</button>
                        <a href="/tickets/home"></a>


                    </div>
                                 </div>

                                 
                    <div class="movie-list-item">
               
                
                        <img class="movie-list-item-img" src="/assets/img_movie/sing.jpg" alt="Glass Movie">
                        <!--<span class="movie-list-item-title">{{movieList[1].title}}</span>-->
                        <!--<p class="movie-list-item-desc">{{movieList[1].description}}</p>-->

                     <div class="content-container2">
                        <span class="content-container2">Sing 2</span>
                        </div>
                    <div class="content-container3">
                            <span class="content-container3">1 HR 50 MIN | PG</span>
    
                        </div>
                    <div class="content-container2">
                        <button class="featured-button2" [routerLink]="['/ticketn-seat', movieList[1].movieId]" >GET TICKETS</button>
                            </div>
                    </div>
   
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="/assets/img_movie/moonfall.jpg" alt="Aquaman Movie">
                        <!--<span class="movie-list-item-title">{{movieList[2].title}}</span>-->
                       <!-- <p class="movie-list-item-desc">{{movieList[2].description}}</p>-->

                        <div class="content-container2">
                        <span class="content-container2">Moonfall</span>
                        </div>
                        <div class="content-container3">
                            <span class="content-container3">2 HR 10 MIN | PG13</span>
                            </div>
                            <div class="content-container2">
                        <button class="featured-button2"[routerLink]="['/ticketn-seat',movieList[2].movieId]" >GET TICKETS</button>
                    </div>
                    </div>
               
          

                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="/assets/img_movie/uncharted.jpg" alt="Avenger">
                        <div class="content-container2">
                         <span class="content-container2">Uncharted</span>
                         </div>
                         <div class="content-container3">
                            <span class="content-container3">1 HR 55 MIN | PG13</span>
                         </div>
                         <div class="content-container2">
                        <button class="featured-button2" [routerLink]="['/ticketn-seat',movieList[3].movieId]" >GET TICKETS</button>
                    </div>
                    </div>
                </div>
            </div>
            </div>
                
                
                </div>
                <i class="fas fa-chevron-right arrow"></i>
        </div>

  
 
        <div class="content-container">
        <h1 class="movie-list-title">COMING SOON</h1>
        </div>

        <div class="movie-list-container2">
           
            <div class="movie-list-wrapper">
                <div class="movie-list">
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="/assets/img_movie/BMM.jpg" alt="">
                        <div class="content-container2">
                            <span class="content-container2">The Batman</span>
                            </div>
                          
                        <div class="content-container3">
                            <span class="content-container3">2 HR 55 MIN | PG13</span>
                           </div>
                        <div class="content-container2">
                            <button class="featured-button3" [routerLink]="['/ticketn-seat',movieList[6].movieId]" >ADVANCE TICKETS</button>
                            <a href="/tickets/home"></a>
    
                        </div>
                        <span class="movie-list-item-title">The Batman</span>
 
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="/assets/img_movie/jurrasic.jpg" alt="">
                        <div class="content-container2">
                            <span class="content-container2">Jurrasic World: Dominion</span>
                            </div>
                            <div class="content-container3">
                                <span class="content-container3">2 HR 08 MIN | PG13</span>
                                </div>
                                <div class="content-container2">
                            <button class="featured-button3"[routerLink]="['/ticketn-seat']" >ADVANCE TICKETS</button>
                        </div>
                        <!--<p class="movie-list-item-desc">Once a familiar threat returns to finish what was previously started, Jake must work with Neytiri and the army of the Na'vi race to protect their planet.</p>-->
                    
                        <!-- <button class="movie-list-item-button" [routerLink]="['/ticketn-seat']"  >BUY TICKETS</button>-->
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="/assets/img_movie/lostcity.jpg" alt="">
                        <div class="content-container2">
                            <span class="content-container2">The Lost City</span>
                            </div>
                        <div class="content-container3">
                            <span class="content-container3">2 HR 0 MIN | PG13</span>
                            </div>
                            <div class="content-container2">
                        <button class="featured-button3"[routerLink]="['/ticketn-seat']" >ADVANCED TICKETS</button>
                    </div>
                        <span class="movie-list-item-title">The Lost City</span>
                        <!--<p class="movie-list-item-desc">A sensitive and soulful man earns a living by writing personal letters for other people. </p>-->
                        <!--<button class="movie-list-item-button" [routerLink]="['/ticketn-seat']"  >BUY TICKETS</button>-->
               </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="/assets/img_movie/badguys.jpg" alt="">
                        <div class="content-container2">
                            <span class="content-container2">The Bad Guys</span>
                            </div>
                        <div class="content-container3">
                            <span class="content-container3">1 HR 30 MIN | PG</span>
                            </div>
                            <div class="content-container2">
                        <button class="featured-button3"[routerLink]="['/ticketn-seat']" >ADVANCED TICKETS</button>
                    </div>
                        <span class="movie-list-item-title">The Bad Guys</span>
                        <!--<p class="movie-list-item-desc">Ace detective Harry Goodman goes mysteriously missing, prompting his 21-year-old son, Tim, to find out what happened. Aiding in the investigation is Harry's former Pokémon partner, wise-cracking, adorable super-sleuth Detective Pikachu.</p>-->
                       <!-- <button class="movie-list-item-button" [routerLink]="['/ticketn-seat']"  >BUY TICKETS</button>-->
                   </div>
                 
                </div>
            </div>
        </div>
        <div class="movie-list-title2">FEAUTURED UPCOMING FILM</div>

        <div class="featured-content"
            style="background: url('https://sportshub.cbsistatic.com/i/2021/12/13/c2acbe19-71a5-4a23-ac29-5989c5e619ce/sonic-2-spider-man-no-way-home-mashup-movie-poster.jpg');">
           <!-- <img class="featured-title4" align="right" src="/assets/img_movie/sonic.jpg" alt="">-->
            </div>
            <div class="contentf">
            
                
               
                <div class="movie-list-item-title2">Sonic The Hedgehog 2</div>
                <h3>Releasing: April 8th 2022 | PG 13</h3>

                <!--<div class="featured-title3">THE HEDGEHOG</div>-->
                
            <iframe width="560" height="315" align="center" src="https://www.youtube.com/embed/G5kzUpWAusI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p class="featured-desc2" >After settling in Green Hills, Sonic is eager to prove that he has what it takes to be a true hero. His test comes when Dr. Robotnik returns with a new partner, Knuckles, in search of a mystical emerald that has the power to destroy civilizations. Sonic teams up with his own sidekick, Tails, and together they embark on a globe-trotting journey to find the emerald before it falls into the wrong hands. </p>

            </div>
  </body>

                <i class="fas fa-chevron-right arrow"></i>
        
<script src="user-home-component.ts"></script>

        

<script src="user-home-component.ts"></script>

</body>