
::-webkit-scrollbar {
  display: none;
}



body{
  font-size: 12px;
  font-family: sans-serif;
  background: #000000;
}





  body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;

  }




.movie-list-title{
  padding: 0px;
  text-align: left;
  color: rgba(255, 255, 255, 0.678);
  font-size:calc(1.375rem + 1.5vw);
  margin-top:auto;
    margin-bottom: auto;
    font-weight: 900;
    line-height: 1,2;


}
.movie-list-title2{
  padding: 0px;
  text-align: left;
  color: rgba(255, 255, 255, 0.678);
  font-size:calc(1.375rem + 1.5vw);
  margin-top:auto;
    font-weight: 900;
    line-height: 1,2;


}


  .container {
    background-color: #0201014b;
    min-height: calc(100vh - 50px);
    color: rgb(231, 229, 229);
  }
  .containerz {
    background-color: #4438383d;
    min-height: calc(100vh - 50px);
    color: rgba(235, 225, 225, 0.952);
    margin-bottom: auto;
  
  }
  img, svg {
    vertical-align: middle;
}

  .featured-content {
    height: 80vh;
    padding: 40px;
   
  }

  .featured-content2 {
    height: 0vh;
    padding: 0px;
  }


  
  .featured-title2 {
    width: 450px;
    height: auto;
    font-size: 30px;
    font-weight: 700;
    color: #ececf5be;
    border-radius: 600px;
    text-shadow: #c1c1ce;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2%;


  }
  
  .featured-title3 {
    width: 150px;
    height: auto;;
    font-size: 16px;
    font-weight: 500;
    color: #ececf5be;
margin-top: 1%;
    border-radius: 2px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


  }
  
  .contentf{
    position: relative;
    left: 72%;
    z-index: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding: 0px;
    width: 770px;
    transform: translate(-50%,-50%);
    background: rgba(19, 12, 12, 0.747);
    color:#f1eef0;
    font-size: 16px;
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    margin-right: 100%;
    padding-bottom: 43%;

    padding-top: 3%;
  }
  
  
  .featured-desc {
    width: 5px;
    color: rgb(240, 230, 230);
    margin: 30px 0;
    font-size: 16px;
    font-weight: 400;
  }
  .featured-desc2 {
    width: 650px;
    color: rgb(240, 230, 230);
    margin: 30px 0;
    font-size: 18px;
    font-weight: 400;
    margin-left: 9%;
    font-family: Arial, Helvetica, sans-serif;

  
  }
  
  .featured-button {
    background-color: #4dbf00;
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
  }
 
  .content-container {
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: 90px;

  }
  .content-container2{
    margin: 0;
    text-align: center;
    transform: scale(.9);
    opacity: 1;
    transition: .3s;
    margin-top: 5%;
    margin-bottom: 5%;
    line-height:30%;
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 20px;
    font-weight:900;
    transition: all .25s ease-in-out;
    letter-spacing: -.03em;
  }
  .content-container3{
    margin: 0 0 25px -0.05em;
    text-align: center;
    transform: scale(.9);
    opacity: 1;
    transition: .4s;
    margin-top: 5%;
    margin-bottom: 5%;
    line-height: 30%;
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 20px;
    font-weight:900;
    transition: all .25s ease-in-out;
    letter-spacing: -.03em;

  }


  
  .featured-title {
    
    width: 300px;
  }
 
  
  .featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;

  }
  

  .featured-button {
        text-align: center;
        

    background-color: #4dbf00;
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
  }


  .featured-button2 {
    text-align: center;
    background-color: #6bfc0b71;
    color: white;
    padding: 16px 50px;
    margin-top: 0px;
    margin-bottom: auto;
    border: none;
    outline: none;
   font-weight: bold;
      border-radius: 100px;
      font-size: 18px;
      font-weight: 900;
      bottom: 20px;
      border-bottom-left-radius: 50px;
      transition: 1s all ease-in-out;
}
*::before,
*::after {
  box-sizing: border-box;
}
.featured-button3 {
  text-align: center;
  background-color: #8065df79;
  color: rgba(255, 255, 255, 0.938);
  padding: 20px;
  margin-top: 16px 50px;
  margin-bottom: 21px;
  border: none;
  outline: none;
 font-weight: bold;
    border-radius: 85px;
    font-size: 18px;
    font-weight: 900;
    bottom: 20px;
    width: 80%;
    border-bottom-left-radius: 85px;
    transition: 1s all ease-in-out;
}
.movie-list-item-button {
  padding: 3px;
  background-color: #4dbf00;
  color: white;
  border-radius: 100px;
  outline: none;
  border: none;
  cursor: pointer;
  position: -webkit-sticky;
  bottom: 20px;
  border-bottom-left-radius: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
  
  .movie-list-container {
    transform:scale(.9);
    opacity: .9;
    transition: .2s;
    margin:0 1.5vw;
    
  }
  .movie-list-container2 {
    transform:scale(.9);
    opacity: .9;
    transition: .2s;
    margin:0 1.5vw;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .movie-list-wrapper {
    position: relative;
    overflow: hidden;
    
  }
  
  .movie-list {
    display:flex;
    align-items: center;
    height: 500px;
    transform: translateX(3);
    transition: all 3s ease-in-out;
    margin-top: 8% ;
    margin-bottom: 8%;
    position: relative;
   
  }
  
  .movie-list-item {
    margin-right: 30px;
    position: relative;
    margin-bottom: 15%;
    margin-top: auto;
    margin-block: auto;
   
  }
  
  .movie-list-item:hover .movie-list-item-img {
    transform: scale(1.1);
    margin: auto;
    opacity: 0.7;
  }
  
  .movie-list-item:hover .movie-list-item-title,
  .movie-list-item:hover .movie-list-item-desc,
  .movie-list-item:hover .movie-list-item-button {
    opacity: 1;
  }
  .h1,h1{
    font-size:calc(1.375rem + 1.5vw);
    margin-top: auto;
    margin-bottom: auto;
  }

  .h1, .h2,h1,h2{
    margin-top:auto;
    margin-bottom: auto;
    font-weight: 500;
    line-height: 1,2;
    font-family: Arial, Helvetica, sans-serif;

  }
 

  .movie-list-item-img {
    transition: all 1s ease-in-out;
    width:100%;
    height:100%;
    object-fit:scale-down;
    border-radius: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
  }
  .featured-title4{
    margin-left: 30%;
    width: 300px;
    padding-left: 1px;
    margin-right: 10%;

  }
  
  .movie-list-item-title {
    background-color: rgba(20, 13, 13, 0.116);
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    margin-bottom:auto;
    margin-bottom: auto;
    margin:0 0 25px -0.05em;
    line-height: 1.25em;
    letter-spacing: -.03em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal; 
    position: -webkit-sticky;
    top: 90%;
    left: 80px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  .movie-list-item-title2 {
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    font-size: 36px;
    margin-left:30%;
    margin-right: 3%;
    margin-bottom: 1%;
    letter-spacing: -.03em;
    font-family: Arial, Helvetica, sans-serif;
     color: #c1c1cebd;
  }

  .h3,h3{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1,2;
    color: #c1c1cebd;
    font-size: 16px;
    text-align: right;
    margin-right: 3%;
    font-weight: 450;



  
  
  }
  
  
  .movie-list-item-desc {
    background-color: rgb(224, 7, 7);
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }


  .movie-list-item-button2 {
    padding: 0px;
    background-color: #4dbf00;
    color: white;
    border-radius: 0px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 100px;
    border-bottom-left-radius: 55px;
    opacity: 0;
    transition:none;
    margin-top: auto;
    margin-bottom: auto;
  }
  




















  /*
  .arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
  }
  .movie-list-title.active {
    color: black;
  }
*/

  /*
  .container.active {
    background-color: white;
  }
  
  .movie-list-title.active {
    color: black;
  }
  
  .navbar-container.active {
    background-color: white;
  
    color: black;
  }
  
  .sidebar.active{
      background-color: white;
  }
  
  .left-menu-icon.active{
      color: black;
  }
  
  .toggle.active{
      background-color: black;
  }
  
  .toggle-ball.active{
      background-color: white;
      transform: translateX(-20px);
  }
  
  @media only screen and (max-width: 940px){
      .menu-container{
          display: none;
      }
  
  .header {
  background-color: #000;
}
.navbar 
  .navbar-brand{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url(../assets/logo.png) no-repeat; 
    text-indent: -999em;
    margin-right: 30px;
  }

 
.footer {
  font-size: 13px;
  background: rgba(119,119,119,.15);
}
  }  */