.moviegrid-item {
  margin-bottom: 30px;
  position: relative;
}

  .moviegrid-play-trailer {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 48px;
    height: 48px;
    background: url(../../../assets/play.png);
    z-index: 99
  }

  
    .moviegrid-poster {
      transform: scale(1.05);
    }
  .moviegrid-poster {
    transition: all 0.2s;
    display: block;
  }
  .moviegrid-title {
    display: block;
    margin-top: 16px;
    font-size: 20px;
    font-weight: bold;
    color: #e1e1e1;
  }
