<div class="moviegrid">
    <div class="row">
      <div *ngFor="let movie of movies" class="moviegrid-item col-md-{{ 12 / columns }}">
        <a href="javascript:void(0)" class="moviegrid-play-trailer"></a>
        <a routerLink="/movie/{{ movie.id }}">
          <img src="{{ movie.poster }}" alt="{{ movie.title }}" class="moviegrid-poster img-fluid" />
          <span class="moviegrid-title">{{ movie.title }}</span>
        </a>
      </div>
    </div>
  </div>
  
  <ng-template #preview>
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
      </div>
    </div>
  </ng-template>
  