
<div class="bg-img">
  
  <div class="content">
    <header>Profile</header>
    <div class="container">
    <div class="row mb-3">
      <span class="show"></span>
      <label for="username" class="col-sm-2 col-form-label">User Name:</label>
      <div class="col-sm-10">
        <input type="username" class="form-control" id="username" value="{{user.username}}" disabled>
      </div>
    </div>
    <div class="row mb-3">
      <label for="firstName" class="col-sm-2 col-form-label">First Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="firstName" [value]="user.firstName" disabled>
      </div>
    </div>
    <div class="row mb-3">
      <label for="lastName" class="col-sm-2 col-form-label">Last Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lastName" [value]="user.lastName" disabled>
      </div>
    </div>
    <div class="row mb-3">
      <label for="email" class="col-sm-2 col-form-label">E-mail:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" [value]="user.email" disabled>
      </div>
    </div>
  </div>
</div>
<div class='light x1'></div>
<div class='light x2'></div>
<div class='light x3'></div>
<div class='light x4'></div>
<div class='light x5'></div>
<div class='light x6'></div>
<div class='light x7'></div>
<div class='light x8'></div>
<div class='light x9'></div>
</div>
