
<body>


  
    <div class="layout_seat">
  <div class="movie-container">
    <h2 class="movie-list-title">SHOWTIMES</h2>

    <div class="content-container">
     <!--<iframe class="content-container2" width="560" position="fixed" height="315" align="right" src="https://www.youtube.com/embed/w7pYhpJaJW8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->

    </div>
    <div class="content-container">
      <div class="featured-content"
       style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('/assets/Apeg (3)/3.png');">

       
      <div class="content-head">
        <h1 id="featureTitle"></h1>
       <img class="featured-title" [src]="imageName"alt="">
        <h3 id="featureDesc"></h3>
        <button class="featured-button2"id="bookingBtn" (click)="submitBooking()">Book Tickets</button>


       </div>
       <app-showtimes (newItemEvent)="addItem($event)"></app-showtimes>
       





<div class="content container2">
  <h1 class="content container2" align="center">Reserve Your Seats</h1>

  <ul class="showcase">
<li class= "showcase2" tableindex="0" aria-expanded="false">

    <div class="seatAvailable"></div>
    <small >Available</small>
  
    <div class="seatSelected"></div>
    <small>Selected</small>

    <div class="seatOccupied"></div>
    <small>Occupied</small>


    

</li>
</ul>




</div>
  <div class="rowContainer">
    <div class="screen"></div>
<h3 align="center" class="screentext">Screen</h3>
    <div class="row">
      <ng-container *ngFor="let seat of seatList;">
        
        <app-seat [aSeat]="seat" (seatClicked)="seatCount($event)"></app-seat>
      </ng-container>
    </div>
  </div>
  </div>
  </div>


</div>


    </div>



</body>



