::-webkit-scrollbar {
  display: none;
}

.ShowtimeByMovie{
  padding-top:15px; 
  
}
.ShowtimeByMovie{
  width:100%;
  padding-top: 3.5em; 
}

.u-scroll-y{
  overflow-y: auto;
  
    -ms-overflow-style: none;
}

.movie-list-title{
  padding: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.678);
  font-size:calc(1.375rem + 1.5vw);
  margin-top:auto;
    margin-bottom: 40px;
    font-weight: 900;
    line-height: 1,2;

}
*,:after, :before,html{
  box-sizing: border-box;

}

div{
  display:block;
}



body, html{
  font-size:16px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pbx;
  line-height: 1.42857;
  color: #3498db;
 

}

.u-container{
  margin:0 auto; 
  max-width:1260px;
  padding: 15px; 
  position: center;
  display: center;

}

.content-head{
  position: relative;
  top: 90%;
  left: 51%;
  bottom: 10%;
  z-index: auto;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  padding: 90px;
  bottom: 10%;
  width: 690px;
  transform: translate(-50%,-50%);
  background: rgba(19, 12, 12, 0.747);
  color:#f1eef0;
  font-size: 14px;
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.featured-title {
  width: 70%;
  margin-left: 12%;
  max-height: fit-content;
  height:90%;
  
}
.content-container {
  margin-left: 10px;
}
.content-container2 {

  padding: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.678);
  font-size:calc(1.375rem + 1.5vw);
  margin-top:auto;
    margin-bottom: auto;
    font-weight: 900;
    line-height: 1,2;
/*margin-right: 800px;
background-color: transparent;
color: white;
border-radius: 8px;
border-width: 2px;
outline: none;
letter-spacing: -.04em;
font-weight: bold;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
    width: 40%;
    padding-right: 90%; */
}
.featured-content {
  height: 80vh;
  padding: 40px;
}


.featured-desc {
  width: 5px;
  color: lightgray;
  margin: 30px 0;
}


.bg-img{
  background: url('/assets/Apeg (3)/1.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.h1,h1{
  font-family: Arial, Helvetica, sans-serif;
  color: #f5eef8;
  padding-top: 50px;
  font-size: 18px;
  font-optical-sizing: 20px;
  text-underline-offset: 7px;
  padding-left: 8%;
}
.h2,h2{

  font-family: 'roboto';

}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  color: #3498db;

}


* {
  box-sizing: border-box;
}

body {
  background-color: #0d0d0e;
  background-image: url("/assets/1.png");
  background-repeat: no-repeat;
  background-size: cover; 
  color: rgb(247, 241, 241);
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: rgb(201, 23, 23);
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; 
} 

.container {
  width: 200px;
  perspective: 1000px;
  margin-bottom: 30px;
}

.rowcontainer {
  margin: 65px;
  padding: 54px;
  display: center;
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
  margin-left: 18%;
  margin-right: auto;
  margin-bottom: auto;
  left: 80%;
  right: 80%;
  /* background: linear-gradient(to top, rgba(120, 98, 145, 0.329), #151515), url('/assets/Apeg (3)/3.png'); */

  
}


.seatAvailable {
  background-color: transparent;
  height: 30px;
  width: 50px;
  margin: 10px;
  border:2px solid #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius:10px;
  outline: 0;
  justify-content: space-around;
  margin-left: 10%;


 
}

.seatSelected {
  background-color:transparent;
  height: 30px;
  width: 50px;
  margin: 10px;
  border:2px solid rgb(253, 10, 10);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius:10px;
  outline: 0;
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 10px;
    margin-right: 0px;

  
 
}

.seatOccupied {
  background-color:rgb(61, 56, 63);
  height: 30px;
  width: 50px;
  margin: 10px;
  border:2px solid rgb(56, 52, 52);

  margin-left: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius:10px;
  outline: 0;
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 10px;
    margin-right: 0px;
} 

#seat:nth-of-type(2) {
  margin-right: 18px;
}

#seat:nth-last-of-type(2) {
  margin-left: 18px;
}

#seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase #seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  padding: 10;
  list-style: none;
  display: flex;
  align-items:center; 
  justify-content: space-between;

}
.showcase2 {
  padding-right: 900px;
  margin-bottom: 2px;

}

.showcase li {
  display: flex;
  align-items:center;
  justify-content: left;
  margin-right: 80%;
  margin-left: 40%;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  width: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
margin-left: 3px;
margin-right: -3px;
align-items: center;
flex-direction: column;
margin:16px;
}


.h3,h3{
  font-family: Arial, Helvetica, sans-serif;
  color: #f5eef8;
  font-size: 18px;
  font-optical-sizing: 20px;
  text-underline-offset: 7px;
  padding-bottom: 8%;
  padding-left: 6%;



}
.col{
  display: flex;
  width: 100px;
  margin-left:3px; 
  margin-right:-3px; 
  align-items: center;
  flex-direction: column;
  margin:0 4px;
 
}

.screen {
  background-color: rgba(99, 80, 80, 0.342);
  height: 50px;
  width: 40%;
  margin: 15px 0;
  margin-right: 50px;
  margin-left: 250px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 29px rgba(255, 255, 255, 0.75);
  display: flex;
}

.screentext {
  margin-right:200px;
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #ffffff;
}

.showtimes {
  border-top: 1px solid;
  padding-top: 24px;
  margin-top: 24px;

}
  .showtime-date {
    text-transform: uppercase;
    margin-bottom: 16px;

  }
  .showtime-section {
    
      padding-left: 0;
      margin-bottom: 20px;
  }
      li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;

      }

    .showtime-section-detail {
      
        display: inline-block;
        padding: 6px 20px;
        border: 1px solid ;

      
        display: block;
        color: #fff;

      
        color: #f37735;
        font-size: 14px;
    }
  .bookingBtn {
    padding: 10px 30px;
    font-size: 15px;

  }

   
  .featured-button2 {
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 12px-24px;
    margin-top: 70px;
    margin-bottom: 1px;
    border-radius: 8px;
    margin-left: 400px;
    margin-right: 15px;
    border-width: 2px;
    border:2px solid #fff;
    outline: none;
    letter-spacing: -.04em;
   font-weight: bold;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 600;
      bottom: 20px;
        width: 30%;
        display:inline-block;
        cursor: pointer;

        
}

.featured-button2:hover{
  color:#fdf9ff;
  background: transparent;
  transform: scale(1.1);

}


